@font-face {
	font-family: 'fontfamily-regular';
	src: url('../fonts/aspira.eot');
	src: url('fonts/aspira.eot?#iefix') format('embedded-opentype'),
	url('../fonts/aspira.woff2') format('woff2'),
	url('../fonts/aspira.woff') format('woff'),
	url('../fonts/aspira.ttf') format('truetype'),
	url('../fonts/aspira.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

h5 {
    margin: 0px!important;
    padding: 5px 0px 3px 10px;
	background-color: $color-grey;
	border-radius: 10px 10px 0px 0px;
	color: $h-color!important;
}


//@font-face {
//	font-family: 'Aspira-Demi';
//	src: url('../fonts/aspira-demi.eot');
//	src: url('../fonts/aspira-demi.eot?#iefix') format('embedded-opentype'),
//	url('../fonts/aspira-demi.woff2') format('woff2'),
//	url('../fonts/aspira-demi.woff') format('woff'),
//	url('../fonts/aspira-demi.ttf') format('truetype'),
//	url('../fonts/aspira-demi.svg#youworkforthem') format('svg'); 
//	font-weight: normal;
//	font-style: normal;
//}
//
//@font-face {
//    font-family: 'hocaboo-icons';
//    src:    url('fonts/hocaboo-icons.eot');
//    src:    url('fonts/hocaboo-icons.eot?#iefix') format('embedded-opentype'),
//        url('fonts/hocaboo-icons.ttf') format('truetype'),
//        url('fonts/hocaboo-icons.woff') format('woff'),
//        url('fonts/hocaboo-icons.svg#hocaboo-icons') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}
//
//[class^="icon-"], [class*=" icon-"] {
//    /* use !important to prevent issues with browser extensions that change fonts */
//    font-family: 'hocaboo-icons' !important;
//    speak: none;
//    font-style: normal;
//    font-weight: normal;
//    font-variant: normal;
//    text-transform: none;
//    line-height: 1;
//
//    /* Better Font Rendering =========== */
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
//}
//
//.icon-check:before {
//  content: "\e933";
//}
//.icon-Select-Arrow:before {
//  content: "\e92c";
//}
//.icon-select:before {
//  content: "\e932";
//}
//.icon-assign_to:before {
//  content: "\e931";
//}
//.icon-group_add:before {
//  content: "\e928";
//}
//.icon-group_close:before {
//  content: "\e929";
//}
//.icon-group_hotel:before {
//  content: "\e92a";
//}
//.icon-group_invitee_icon:before {
//  content: "\e92b";
//}
//.icon-group_resend:before {
//  content: "\e92d";
//}
//.icon-group_revoke:before {
//  content: "\e92e";
//}
//.icon-group_team:before {
//  content: "\e92f";
//}
//.icon-group_transfer_master_role:before {
//  content: "\e930";
//}
//.icon-action-delete:before {
//  content: "\e927";
//}
//.icon-preview-category:before {
//  content: "\e91f";
//}
//.icon-preview-contract-type:before {
//  content: "\e920";
//}
//.icon-preview-employment-type:before {
//  content: "\e921";
//}
//.icon-preview-hotel-type:before {
//  content: "\e922";
//}
//.icon-preview-language:before {
//  content: "\e923";
//}
//.icon-preview-location:before {
//  content: "\e924";
//}
//.icon-preview-rooms:before {
//  content: "\e925";
//}
//.icon-preview-stars:before {
//  content: "\e926";
//}
//.icon-phone-mask:before {
//  content: "\e91e";
//}
//.icon-action-connect1:before {
//  content: "\e901";
//}
//.icon-action-connect2:before {
//  content: "\e903";
//}
//.icon-action-connect3:before {
//  content: "\e90e";
//}
//.icon-action-connect4:before {
//  content: "\e914";
//}
//.icon-action-close:before {
//  content: "\e900";
//}
//.icon-action-dismiss:before {
//  content: "\e902";
//}
//.icon-action-duplicate:before {
//  content: "\e904";
//}
//.icon-action-edit:before {
//  content: "\e905";
//}
//.icon-action-terminate:before {
//  content: "\e906";
//}
//.icon-billing:before {
//  content: "\e907";
//}
//.icon-dashboard:before {
//  content: "\e908";
//}
//.icon-jobs:before {
//  content: "\e909";
//}
//.icon-profile-m:before {
//  content: "\e90a";
//}
//.icon-profile-w:before {
//  content: "\e90b";
//}
//.icon-support:before {
//  content: "\e90c";
//}
//.icon-action-edit-inline:before {
//  content: "\e90d";
//}
//.icon-bullhorn:before {
//  content: "\e916";
//}
//.icon-file-text2:before {
//  content: "\e91c";
//}
//.icon-lifebuoy:before {
//  content: "\e917";
//}
//.icon-bell:before {
//  content: "\e918";
//}
//.icon-drawer:before {
//  content: "\e91a";
//}
//.icon-download:before {
//  content: "\e91d";
//}
//.icon-meter:before {
//  content: "\e919";
//}
//.icon-fire:before {
//  content: "\e91b";
//}
//.icon-action-view:before {
//  content: "\e915";
//}
//.icon-facebook:before {
//  content: "\e90f";
//}
//.icon-instagram:before {
//  content: "\e910";
//}
//.icon-twitter:before {
//  content: "\e911";
//}
//.icon-linkedin:before {
//  content: "\e912";
//}
//.icon-xing:before {
//  content: "\e913";
//}