<!--
<template>
        <ai-dialog>
            <ai-dialog-header if.bind='message.Header'>
                <span class="close" click.delegate="controller.cancel()">×</span>
                <h3 >${message.Header}</h3>
            </ai-dialog-header>
            <ai-dialog-body>
                 <!--<iframe id="message-content"></iframe>
                <iframe id="message-content">${message.Content}</iframe>
                <div >
                    teszd ${message.Content}
                </div>
                <h2>${message.Footer}</h2>
            </ai-dialog-body>       
        </ai-dialog>
    </div>
</template>
-->
<template>
    <!--
    <div tabindex="-1" role="dialog">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" click.trigger="controller.cancel()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"> ${message.Header}</h4>
                    </div>
                    <iframe id="message-content"></iframe>
                    <h3>${message.Footer}</h3>
                </div>
            </div>
        </div>
        -->
</template>
