.instagram-wrapper {
    position: absolute;
    display: block;
    top: 32px;
    bottom: 0px;
    width: 100%;
    overflow-y: scroll;
    .label-bar {  
        display: block;  
        border-bottom: 1px solid #aaa;
        height: 40px;
        margin-bottom: 10px;
        .btn-instagram {
            background-color: #3F729B;
            color: #fff;
            margin: 0 auto;
        }
        .userdata {
            float:left;
            padding: 6px 5px 0px 10px;
            position: relative;
            text-align: center;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
        }
        img {
            padding: 3px;
            border-radius: 100%;
            width: 30px;
        }
        .labels {
            opacity: 0.7;
            padding: 10px 10px 10px 10px;
            border: none;
        }
        .labels:hover  {
            border:none;
            opacity: 1.0;
        }
        .label-right {
            opacity: 0.7;
            padding: 10px 10px 10px 10px;
            border: none;
            float: right;
        }
        .label-right:hover  {
            border:none;
            opacity: 1.0;
        }
    }
    .images {
        width: 100%;
        display: block;
        .col-md-6 {
            padding: 0px 10px 20px 10px;
            img {
                width: 100%;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px!important;
            }
            .image-details {
                background-color: rgba(255,255,255,0.0);
                color: rgba(255,255,255,0.0);
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                text-align: center;
                margin: auto;
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                margin: 0px 10px 20px 10px;
                vertical-align: middle;
                border-radius: 10px!important;
            }
            .image-details:hover {
                background-color: rgba(0,0,0,0.4);
                color: rgba(255,255,255,1.0);
                .image-details-center {
                    text-align: center;
                    position: absolute;
                    display: block;
                    height: 46px;
                    width: 200px;
                    margin-left: -100px;
                    left: 50%;
                    top: 50%!important;
                    margin-top: -23px;
                }
            }
        }
        
    }
    @media screen and (max-width: 1366px) {
        .userdata {
            display: none;
        }
    }
    
}