#notes-wrapper {
    position: absolute;
    display: block;
    top: 335px;
    width: 15% - $component-margin-correction-inner;
    margin: $component-margin;
    background-color: $color-white;
    border-radius: 10px;
    height: 150px;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    .comp-header {
        .headicon {
            margin-bottom: 2px;
        }
        button::before {
            width: 25px;
            font-size: 1.3em;
            line-height: 28px;
        }
        .devide {
            float: right;
            padding: 5px 3px 0px 5px;
            color: #bbb;
        }
        .logout {
            opacity: 0.7;
            padding:0px 10px 0px 10px;
            font-size: 0.75em;
            border: none;
        }
    }
    .data-wrapper {
        padding: 10px;
        display: block;
        bottom: 265px;
        height: 110px;
        overflow-y: scroll;
        font-size: 0.9em;
        .notifications {
            display: block;
            top: 8px;
            right: 75px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-weight:600;
            border-radius: 14px;
            background-color: red;
            color:#fff;
            height: 14px;
            width: 14px;
            position: absolute;
            margin: 0;
            line-height: 1.5;
            opacity: 0.8;
            text-align: center;
        }
        a {
            display: block;
            color:#737373;
            text-decoration: none;
            :hover {
                color:#222;
            }
        }
        .data {
            margin-bottom: 5px;
            .title {
                display: block;
                width: 100%;
                height: 15px; 
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                b {
                    font-weight: 500;
                }
            }
        }
    }
    .mod-notes {
        display: flex; /* Hidden by default */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%;; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        overflow-y: hidden;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        .mod-content {
            display: block;
            background-color: $color-white;
            padding: 0;
            .background-img-blurred {
                background: url(../images/bg.jpg) center center no-repeat;
                position:absolute;
                left:0;
                right:0;
                top:0;
                bottom:0;
                z-index:1;
                -webkit-filter: blur(20px);
                -moz-filter: blur(20px);
                -o-filter: blur(20px);
                -ms-filter: blur(20px);
                filter: blur(20px);	
            }  
            textarea.form-control {
                height: 200px;
                max-height: 300px;
                max-width: 100%;
            }
            .mod-text {
                position:relative;
	            z-index:100;
                background-color: rgba(255,255,255,.8);
                padding: 20px;
                overflow-y:scroll;
                border-radius: 10px;
                overflow:hidden;
                .mod-header {
                    padding: 0;
                }
                .modal-footer {
                    width: 710px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    border: none;
                    padding: 20px;
                    button {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}