.profile-wrapper {
    position: absolute;
    display: block;
    border-radius: 10px;
    background-color: $color-white;
    width: 15% - $component-margin-correction-inner;
    margin: $component-margin;
    top: 60px;
    min-height: 115px;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    h2 {
        vertical-align: middle;
        font-size: 1.2em;
        font-weight: 300;
        text-align: center;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        margin: 0px!important;
        padding-top: 20px;
        line-height: 0.5;
    }
    .headicon {
        margin-bottom: 4px;
    }
}
