.social-media-wrapper {
    position: absolute;
    display: block;
    width: 30% - $component-margin-correction-inner;
    margin: $component-margin;
    left: 45%;
    top: 60px;
    bottom: 120px;
    border-radius: 10px;
    background-color: $color-white;
    overflow: hidden;
    .headicon {
        vertical-align: middle;
        margin-bottom: 4px;
        width: 17px;
    }
}