.gmail-wrapper {
    position: absolute;
    display: block;
    width: 25%;
    right: 0%;
    border-right: 1px solid #ccc;
    top: 60px;
    bottom: 120px;
    overflow-x: hidden;
    .labels {
        margin-top: 1px;
        margin-right: 5px;
        padding: 10px 10px 10px 10px;
        border: none;
        background-color: #fff;
    }
    .labels:hover  {
        background-color: #eee;
        border:none;
    }
    #message-content {
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
    }
    .post-bar {
        padding: 10px;
        position: fixed;
        display: block;
        bottom: 120px;
        width: 25%;
        background-color: #fff;
        .form-control {
            display: block;
            height: 34px;
            max-width: 88.5%;
        }
        .post-button {
            display: block;
            bottom: 5px;
            right: 5px;
            width: 10%;
            border: none;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            height: 34px;
            position: absolute;
            border-radius: 4px;
            background: transparent url("../images/send.png") 50% 30% no-repeat;
            margin: 4px;
        }
        .next-button {
                display: block;
                float: right;
                bottom: 5px;
                right: 5px;
                width: 10%;
                border: none;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                height: 34px;
                border-radius: 4px;
                background: transparent url("../images/forward.png") 50% 30% no-repeat;
                margin: 4px;
        }
        .prev-button {
                display: block;
                float: right;
                bottom: 5px;
                right: 5px;
                width: 10%;
                border: none;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                height: 34px;
                border-radius: 4px;
                background: transparent url("../images/back.png") 50% 30% no-repeat;
                margin: 4px;
        }
    }
    
}