.header{
    position: relative;
    display: block;
    // margin: 0.25% auto 0 auto;
    background-color: $color-darkgrey;

    img {
        //width: 14.75%;
        padding: 10px 15px;
        max-height: 60px;
    }
}