.header{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: $color-grey;
    img {
        height: 60px!important;
        padding: 15px 15px;
    }
}