/**
* Defines variables used accross the entire stylesheet.
*/
// Colors
    //Transparent Colors 
$color-white: 					rgba(255,255,255,0.8);
$color-grey: 					rgba(100,100,100,0.1);
$color-lightgrey: 				rgba(220,220,255,0.8);
$color-transparent: 			rgba(0,0,0,0.0);

    //Font Colors 
$h-color: rgb(106,106,122);
// Margins
$component-margin: 0.25%;
$component-margin-correction: 0.5%;
$component-margin-correction-inner: 0.25%;